<div class="panel panel-default">
    <!--<div class="panel-heading"><h3 class="panel-title">广告位</h3></div>-->
    <div class="panel-body">
        <p style="margin-bottom: 10px;">
            <a href="javascript:void(0)" target=_blank><img src="~/Content/UploadImg/300x100.gif" width="260px" height="60px" data="20150119" border="0"></a>
        </p>
        <p style="margin-bottom: 10px;">
            <a href="" target=_blank><img src="~/Content/Images/Default/ad1.gif" width="260px" height="60px" data="20150119" border="0"></a>
        </p>
    </div>
</div>
