
    <footer class="small">
        <div class="container">
            <ul class="list-inline">
                <li><a href="page/index/1.htm">关于ZeroLag</a></li>
                <li><a href="page/index/2.htm">付费服务</a></li>
                <li><a href="page/index/3.htm">联系方式</a></li>
                <li><a href="authorize/index.htm" target=_blank>商业授权</a></li>
                <li><a href="page/index/5.htm">赞助开发</a></li>
            </ul>

            <p>
                Powered by <a href="http://www.zerolag.cn/" class="text-muted" target="_blank">Waden</a>
                V1.0 2017-@DateTime.Now.Year Some rights reserved @*页面执行时间:  0.0242s*@
            </p>

            @*<div class="col-twelve">
                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
                    </div>
                </div>*@
        </div>

    </footer>


    <div class="toolbar">
        <a href="###" class="toolbar-item toolbar-item-weixin">
            <span class="toolbar-layer"></span>
        </a>
        <a href="###" class="toolbar-item toolbar-item-feedback"></a>
        <a href="###" class="toolbar-item toolbar-item-app">
            <span class="toolbar-layer"></span>
        </a>
        <a href="javascript:scroll(0,0)" id="top" class="toolbar-item toolbar-item-top"></a>
    </div>

    <div id="preloader">
        <div id="loader"></div>
    </div>

    <script src="/Scripts/Plugin/jquery/plugins.js"></script>
    @Scripts.Render("~/bundles/Loading")
