@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-sm-9">
    <div >

        <div class="medal_container">
            <table width="100%" cellspacing="0" cellpadding="0" align="center">
                <tbody>
                    <tr>
                        <td class="h" colspan="4">
                            勋章介绍
                        </td>
                    </tr>
                    <tr class="tr2 tac">
                        <td width="5%">
                            ID
                        </td>
                        <td width="15%">
                            勋章名称
                        </td>
                        <td width="*">
                            勋章说明
                        </td>
                        <td width="15%">
                            勋章图片
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            1
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-2.html" title="申请此勋章">
                                核心会员勋章
                            </a>
                        </td>
                        <th>
                            论坛中坚力量！活跃于各个版块中，经常与大家交流各类技术、经验等，发表的主题帖被置顶、加精、高亮等管理操作不少于3次以上，接受申请，须核心技术区至少四位版主支持，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/02.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            2
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-3.html" title="申请此勋章">
                                技术精英勋章
                            </a>
                        </td>
                        <th>
                            经常在论坛与会员交流技术问题，软件或硬件方面技术能力得到论坛认可，接受申请，由核心技术区或网络共享区版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/03.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            3
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-4.html" title="申请此勋章">
                                资源大使勋章
                            </a>
                        </td>
                        <th>
                            长期为论坛提供丰富、高质量的软件下载、优秀帖子等各类资源的会员。接受申请，须四位以上版主认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/04.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            4
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-5.html" title="申请此勋章">
                                热心助人勋章
                            </a>
                        </td>
                        <th>
                            热心帮助会员解答各类问题，在本论坛拥有一定的知名度，得到广大会员一致认可的版主或三分秋雨级别以上的会员。接受申请，须四位以上版主支持，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/05.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            5
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-6.html" title="申请此勋章">
                                文学才艺勋章
                            </a>
                        </td>
                        <th>
                            经常活跃于心情文学区，经常发布自己优秀的原创帖子，接受申请，由娱乐区版主和心情区版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/06.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            6
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-7.html" title="申请此勋章">
                                无痕水王勋章
                            </a>
                        </td>
                        <th>
                            能调动水区的气氛，经常活跃在无痕水区，在线时间长日均主题帖20帖以上或回复30帖以上（純水帖除外），发帖量在15000帖以上，接受申请，须休闲娱乐区版主、无痕茶区版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/07.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            7
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-8.html" title="申请此勋章">
                                贴图能手勋章
                            </a>
                        </td>
                        <th>
                            经常活跃在贴图区，发布高质量和原创的图片100帖以上，接受申请，须休闲区版主和图区版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/08.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            8
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-9.html" title="申请此勋章">
                                娱乐先锋勋章
                            </a>
                        </td>
                        <th>
                            活跃于影音交流和天籁之音版块，积极发表各类健康向上的主题和经常对会员发出的主题做出适当的点评。接受申请，须休闲区版主和以上影音交流、天籁之音版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/09.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            9
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-10.html" title="申请此勋章">
                                新人进步勋章
                            </a>
                        </td>
                        <th>
                            注册时间为三个月以内，经常活跃在各个版块，级別在一轮秋月以上，三阵秋雨以下，接受申请，须两位版主认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/10.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            10
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-11.html" title="申请此勋章">
                                活跃分子勋章
                            </a>
                        </td>
                        <th>
                            经常活跃于论坛的各个版块，给论坛带来生机，级别在三分秋雨以上，接受申请，须四位版主认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/11.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            11
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-12.html" title="申请此勋章">
                                诚信交易勋章
                            </a>
                        </td>
                        <th>
                            经常活跃在无痕商场，没有不良记录，正常成功交易20起，接受申请，由娱乐区版主和无痕商场版主一致认可，最后由管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/12.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            12
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-13.html" title="申请此勋章">
                                终身成就勋章
                            </a>
                        </td>
                        <th>
                            为论坛的建设立过不世之功的。不接受申请，由站长亲自评定颁发。
                        </th>
                        <td>
                            <img src="hack/medal/image/13.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            13
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-14.html" title="申请此勋章">
                                社区贡献勋章
                            </a>
                        </td>
                        <th>
                            为论坛赞助一定的虚拟或实物奖品等资源，或对论坛的建设和发展起到一定的作用的会员，不接受申请，由管理员亲自评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/14.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            14
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-16.html" title="申请此勋章">
                                宣传大使勋章
                            </a>
                        </td>
                        <th>
                            通过正规手段宣传论坛，贡献值达1000以上；或被推荐的会员获得原创精英、核心会员、优秀版主等勋章之一。
                        </th>
                        <td>
                            <img src="hack/medal/image/15.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            15
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-17.html" title="申请此勋章">
                                管理员勋章
                            </a>
                        </td>
                        <th>
                            由论坛现任管理员拥有。
                        </th>
                        <td>
                            <img src="hack/medal/image/16.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            16
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-18.html" title="申请此勋章">
                                总版主勋章
                            </a>
                        </td>
                        <th>
                            由论坛现任总版主拥有。
                        </th>
                        <td>
                            <img src="hack/medal/image/17.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            17
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-19.html" title="申请此勋章">
                                正式版主勋章
                            </a>
                        </td>
                        <th>
                            由论坛现任正式版主拥有。
                        </th>
                        <td>
                            <img src="hack/medal/image/19.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            18
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-20.html" title="申请此勋章">
                                原创精英勋章
                            </a>
                        </td>
                        <th>
                            发布原创软件作品不少于3部以上或参加软件测试并提供较高质量的原创测试报告5篇以上。接受申请，申请时请提供相关条件，经过管理团队考察评定。
                        </th>
                        <td>
                            <img src="hack/medal/image/01.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            19
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-21.html" title="申请此勋章">
                                分区版主勋章
                            </a>
                        </td>
                        <th>
                            由论坛现任分区版主拥有。
                        </th>
                        <td>
                            <img src="hack/medal/image/18.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            20
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-23.html" title="申请此勋章">
                                实习版主勋章
                            </a>
                        </td>
                        <th>
                            由论坛现任实习版主拥有。
                        </th>
                        <td>
                            <img src="hack/medal/image/20.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            21
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-24.html" title="申请此勋章">
                                优秀版主勋章
                            </a>
                        </td>
                        <th>
                            经常参与论坛管理团队讨论，版主工作认真负责，以论坛发展为己任，获管理团队一致认可的优秀版主，本勋章定期评选及颁发。
                        </th>
                        <td>
                            <img src="hack/medal/image/21.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            22
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-25.html" title="申请此勋章">
                                秋无痕美眉勋章
                            </a>
                        </td>
                        <th>
                            鼓励更多的MM加入我们的大家庭。接受申请，需帖出三张不同的个人相片，由论坛管理团队确认后授予。
                        </th>
                        <td>
                            <img src="hack/medal/image/28.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            23
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-26.html" title="申请此勋章">
                                优秀会员勋章
                            </a>
                        </td>
                        <th>
                            经常活跃在论坛，热衷于论坛，积极响应论坛的各项号召，对论坛的发展起到推动作用！经常按版规发高质量的贴子，违规现象少，得到大家的共同认可。本勋章由版主推荐或会员自荐，通过全体会员投票产生。
                        </th>
                        <td>
                            <img src="hack/medal/image/26.gif">
                        </td>
                    </tr>
                    <!-- -->
                    <tr class="tr3 tr tac">
                        <td>
                            24
                        </td>
                        <td>
                            <a href="hack-htm-H_name-medal-action-apply-id-34.html" title="申请此勋章">
                                论坛十周年纪念勋章
                            </a>
                        </td>
                        <th>
                            秋无痕论坛成立十周年纪念勋章
                        </th>
                        <td>
                            <img src="hack/medal/image/10zn.gif">
                        </td>
                    </tr>
                    <!-- -->
                </tbody>
            </table>
        </div>    

    </div><!-- /.col-md-8 -->
</div>

@Html.Partial("_RightPartial")