@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/Common/common.js" type="text/javascript"></script>
<div class="pb_container" style="background-color:#FFF;">
    <div class="pb_tan x_l">
        <img src="/Content/Images/Community/win8_x48x55.png" alt="win7论坛" title="win7论坛">
        <h2>
            <a href="http://bbs.pcbeta.com/viewthread-945287-1-1.html" title="Win7旗舰版" target="_blank">Win7</a>&nbsp;<a href="http://bbs.pcbeta.com/viewthread-881861-1-1.html" title="Win7 64位旗舰版下载" target="_blank">64位旗舰版下载</a><a href="http://bbs.pcbeta.com/viewthread-881861-1-1.html" title="Win7系统下载" target="_blank">系统</a><a href="http://bbs.pcbeta.com/forum-win7-1.html" title="Win7激活工具" target="_blank">工具</a><a href="http://bbs.pcbeta.com/viewthread-535256-1-1.html" title="Win7主题" target="_blank">主题</a>
        </h2>
        <h3>
            <a href="http://bbs.pcbeta.com/forum-win7-1.html" title="Win7论坛" target="_blank">论坛</a>汇聚<a href="http://bbs.pcbeta.com/viewthread-881861-1-1.html" target="_blank" title="win7系统下载">Win7系统下载</a><a href="http://bbs.pcbeta.com/forum-win7-1.html" target="_blank" title="win7激活工具">激活工具</a><a href="http://bbs.pcbeta.com/viewthread-535256-1-1.html" target="_blank" title="win7主题">主题</a>
        </h3>
        <p>
            <a href="http://bbs.pcbeta.com/viewthread-881861-1-1.html" target="_blank" title="win7系统下载">Win7系统下载</a>|<a href="http://bbs.pcbeta.com/viewthread-535256-1-1.html" target="_blank" title="win7主题">主题</a>|<a href="http://bbs.pcbeta.com/forum-207-1.html" target="_blank" title="win7优化">优化</a>|<a href="http://bbs.pcbeta.com/viewthread-535256-1-1.html" target="_blank" title="win7桌面">桌面</a>|<a href="http://bbs.pcbeta.com/forum-win7-1.html" target="_blank" title="win7激活">激活</a>|<a href="http://bbs.pcbeta.com/viewthread-1094387-1-1.html" target="_blank" title="win7">小白必读</a>
        </p>
    </div>
    <div class="pb_tan x_m">
        <img src="/Content/Images/Community/win8_x48x55.png" alt="Win8.1论坛" title="Win8.1论坛">
        <h2>
            <a href="http://bbs.pcbeta.com/forum-windows8-1.html" target="_blank" title="win8.1">Win8.1</a><a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8系统下载">系统下载</a><a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8.1正式版">中文版</a><a href="http://bbs.pcbeta.com/forum-surface-1.html" target="_blank" title="win8平板">平板电脑</a><a href="http://bbs.pcbeta.com/viewthread-616010-1-1.html" target="_blank" title="win8主题">主题</a>
        </h2>
        <h3 style="">
            <a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8.1">Win8.1</a><a href="http://bbs.pcbeta.com/forum-surface-1.html" target="_blank" title="win8平板">平板电脑</a><a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8.1中文版">中文版</a><a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8系统下载">系统下载</a>尽在<a href="http://bbs.pcbeta.com/forum-win8-1.html" target="_blank" title="win8论坛">Win8论坛</a>
        </h3>
        <p>
            <a href="http://bbs.pcbeta.com/viewthread-1568619-1-1.html" target="_blank" title="win8.1下载">Windows8.1下载</a>|<a href="http://bbs.pcbeta.com/viewthread-616010-1-1.html" target="_blank" title="win8.1主题">主题</a>|<a href="http://bbs.pcbeta.com/forum-514-1.html" target="_blank" title="win8.1激活">激活</a>|<a href="http://bbs.pcbeta.com/viewthread-1478793-1-1.html" target="_blank" title="win8.1新手宝典">新手宝典</a>|<a href="http://bbs.pcbeta.com/forum-521-1.html" target="_blank" title="win8.1软件">必备软件</a>
        </p>
    </div>
    <div class="pb_tan x_r">
        <img src="/Content/Images/Community/win8_x48x55.png" alt="Win10论坛" title="Win10论坛">
        <h2>
            <a href="http://bbs.pcbeta.com/forum-win10-1.html" target="_blank" title="Win论坛">Win10</a><a href="http://bbs.pcbeta.com/viewthread-1655405-1-1.html" target="_blank" title="win10正式版">正式版</a><a href="http://bbs.pcbeta.com/viewthread-1655405-1-1.html" target="_blank" title="win10系统">系统</a><a href="http://bbs.pcbeta.com/viewthread-1655405-1-1.html" target="_blank" title="下载">下载</a><a href="http://bbs.pcbeta.com/forum-548-1.html" target="_blank" title="win10主题">主题</a><a href="http://bbs.pcbeta.com/forum-surface-1.html" target="_blank" title="win10平板">平板</a>
        </h2>
        <h3>重定义Modern UI,打造完美Windows全新体验</h3>
        <p>
            <a href="http://bbs.pcbeta.com/viewthread-1655405-1-1.html" target="_blank" title="win10下载">Windows10下载</a>|<a href="http://bbs.pcbeta.com/viewthread-1545570-1-1.html" target="_blank" title="win10安装">安装</a>|<a href="http://bbs.pcbeta.com/viewthread-1546991-1-1.html" target="_blank" title="win10新手宝典">新手宝典</a>|<a href="http://bbs.pcbeta.com/forum-521-1.html" target="_blank" title="win10必备软件">必备软件</a>
        </p>
    </div>
</div>
    
    <div id="ct" class="wp cl">
        <div class="mn">

            <div class="fl bm">
                <div class="bm bmw flg cl">
                    <div id="category_533_line" class="bm_h cl" >
                        <span class="o">
                            <img method="category_533" src="/Content/Images/Community/collapsed_no.gif"
                                 title="收起/展开" alt="收起/展开">
                        </span>
                        <h2>
                            <a href="#" style="">
                                科技大爆炸- 链接前沿科技
                            </a>
                        </h2>
                    </div>
                    <div id="category_533" class="bm_c">
                        <table class="fl_tb" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/internetnews.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    科技新鲜事儿
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    时刻分享科技界最新信息
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 2913
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 3024
                                                </em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/daxuesheng.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    景彩校园
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    畅享生活，展望未来
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 406
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 35174
                                                </em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/xbox.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    Xbox 爱好者论坛
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    xbox游戏下载，资讯与交流
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 406
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 35174
                                                </em>
                                            </dd>
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="bm bmw  flg cl">
                    <div id="category_287_line" class="bm_h cl">
                        <span class="o">
                            <img method="category_287" src="/Content/Images/Community/collapsed_no.gif"
                                 title="收起/展开" alt="收起/展开">
                        </span>
                        <span class="y">
                            分区版主:
                            <a href="#" class="notabs" c="1">
                                xinmengyuan
                            </a>
                        </span>
                        <h2>
                            <a href="#" style="">
                                Windows 移动平台硬件论坛 - 在这里我们只讨论硬件
                            </a>
                        </h2>
                    </div>
                    <div id="category_287" class="bm_c" style="">
                        <table class="fl_tb" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/tablet_surface.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#" style="color: #CC0000;">
                                                    Surface 微软平板电脑论坛
                                                </a>
                                            </dt>
                                            <dd>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 4240
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 54985
                                                </em>
                                            </dd>
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/tablet_special.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    Windows8 一线平板论坛
                                                </a>
                                                
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    三星,华硕,惠普,戴尔,联想等一线平板讨论
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 1259
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 15647
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/ultrabook.png" alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#" style="color: #FF6600;">
                                                    Windows8 超极本论坛
                                                </a>
                                                
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    为纤薄探索全新的定义，轻便又同时强大
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 305
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 6842
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                </tr>

                                <tr class="fl_row">
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/notebook.png"
                                                     alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    笔记本电脑论坛
                                                </a>
                                                
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    Hp,Dell,联想等笔记本技术讨论，资源下载
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 7725
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 106864
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/hardware.png"
                                                     alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    硬件秀 开箱兼晒机
                                                </a>
                                                <em class="xw0 xi1 yellow" title="今日">
                                                    2
                                                </em>
                                                
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    手机、平板、数码开箱晒机一个都能少
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 1587
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 18021
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/change.png" alt=""
                                                     align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    电脑|移动|数码设备交易区
                                                </a>
                                                <em class="xw0 xi1 yellow" title="今日">
                                                    1
                                                </em>
                                                
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    适用于安装苹果系统的硬件设备交易
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 1467
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 9554
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                </tr>
                                <tr class="fl_row">
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/phone.png" alt=""
                                                     align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    Windows Phone 手机论坛
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    远景WP用户的讨论家园
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 2584
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 63461
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/phone_download.png"
                                                     alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    Windows Phone 资源专区
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    WP7、WP8应用资源集合
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 304
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 6890
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                    <td class="fl_g">
                                        <div class="fl_icn_g">
                                            <a href="#">
                                                <img src="/Content/UploadImg/phone_game.png"
                                                     alt="" align="left">
                                            </a>
                                        </div>
                                        <dl>
                                            <dt>
                                                <a href="#">
                                                    Windows Phone 游戏专区
                                                </a>
                                            </dt>
                                            <dd>
                                                <p class="xg2">
                                                    WP精品游戏资源集合
                                                </p>
                                            </dd>
                                            <dd>
                                                <em>
                                                    主题: 418
                                                </em>
                                                ,
                                                <em>
                                                    帖数: 33799
                                                </em>
                                            </dd>
                                            
                                        </dl>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
               
                
            </div>
            <div class="wp mtn">
                <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
            </div>
            
            <script>
                jQuery(function ($) {
                    var tabs = $("#skill-list .nav-tabs span");
                    var panes = $("#skill-list .tab-pane");
                    tabs.each(function (i) {
                        $(this).mouseover(function () {
                            $(this).addClass("active").siblings().removeClass("active");
                            panes.eq(i).addClass("active").siblings().removeClass("active");
                        });
                    });
                })
            </script>
            
        </div>

    </div>


