@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-sm-9">
    <div >

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    我收藏的话题
                    <!--<span class='pull-right badge badge-info'><div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

            <h4>A PHP Error was encountered</h4>

            <p>Severity: Notice</p>
            <p>Message:  Undefined variable: user</p>
            <p>Filename: default/favorites.php</p>
            <p>Line Number: 16</p>

            </div></span>-->
                </h3>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <a class="media-left" href="http://bbs.startbbs.com/user/profile/1"><img class="img-rounded medium" src="http://bbs.startbbs.com/uploads/avatar/1/01/1_normal.png" alt="admin"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="http://bbs.startbbs.com/topic/4701">新增: Startbbs超级群 645590178</a><span class="badge badge-info">置顶</span></h4>
                            <p class="text-muted">
                                <span><a href="http://bbs.startbbs.com/user/profile/1">admin</a></span>&nbsp;•&nbsp;
                                <span>昨天13:06</span>&nbsp;•&nbsp;
                                <span>最后回复来自 <a href="http://bbs.startbbs.com/user/profile/8686">cbd513882714</a></span>&nbsp;•&nbsp;
                                <span><a href="http://bbs.startbbs.com/favorites/del/4701" title="取消收藏">取消收藏 X</a></span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- /.col-md-8 -->

    </div>
</div>

@Html.Partial("_RightPartial")
