@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-6 col-sm-9">
    <div ">

        <div class="panel">
            <div class="panel-heading">
                <h4>私信</h4>
            </div>
            <div class="panel-body">
                还没有私信
            </div>
        </div><!-- /.col-md-8 -->

    </div>
</div>

@Html.Partial("_RightPartial")
